# for syntax see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# base rule, Nexus (fka mushroom) team is codeowner for whole repo
* @CQCL/mushroom