
__pycache__/

# Mac Stuff
**/.DS_Store

# vs code
*.code-workspace
.vscode

# Environment
.env*.local
.env

dist/
docs/_build

# IPython
.ipynb_checkpoints
/*.ipynb


# Dev stuff
dev_notebooks/
venv
.venv

# Direnv
.direnv/
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
.pre-commit-config.yaml
