name: Contract Tests

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: "Pull request number (for external PRs)"
        required: false
        type: number
  workflow_call:
    secrets:
      PACT_BROKER_BASE_URL:
        required: true
      PACT_BROKER_USERNAME:
        required: true
      PACT_BROKER_PASSWORD:
        required: true
env:
  UV_VERSION: "0.6.6"

jobs:
  test-qnexus-consumer:
    name: Consumer Contract Tests
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
    env:
      NEXUS_QA_USER_EMAIL: ${{ secrets.NEXUS_QA_USER_EMAIL }}
      NEXUS_QA_USER_PASSWORD: ${{ secrets.NEXUS_QA_USER_PASSWORD }}
      NEXUS_DOMAIN: "qa.myqos.com"
      NEXUS_STORE_TOKENS: "false"
      NEXUS_QA_QSYS_DEVICE: ${{ secrets.NEXUS_QA_QSYS_DEVICE }}

    steps:
      - name: Comment action run link on PR
        if: ${{ github.event.inputs.pr_number && github.event.inputs.pr_number != '' }}
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            Contract tests are running on this PR at:
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}.
          pr-number: ${{ github.event.inputs.pr_number }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up uv & venv
        uses: astral-sh/setup-uv@v5
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          cache-dependency-glob: uv.lock

      - name: Run contract tests
        run: |
          uv run pytest tests/contract/

      - uses: actions/upload-artifact@v4
        with:
          name: qnexus-consumer-pacts
          path: tests/pacts/
  
  publish-pact-files:
    runs-on: ubuntu-latest
    needs: test-qnexus-consumer
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          name: qnexus-consumer-pacts
          path: tests/pacts/
      - uses: pactflow/actions/publish-pact-files@v2
        with:
          pactfiles: tests/pacts/
          # version: "1.2.3" # optional, defaults to git sha if not specified
          # branch: main # optional, defaults to git branch if not specified
          # tag: main # optional, defaults to not set if not specified
          tag_with_git_branch: true # optional, defaults to not false if not set. will auto tag with user specified branch, or set to auto detected branch
          broker_url: ${{ secrets.PACT_BROKER_BASE_URL }}
        env:
          PACT_BROKER_USERNAME: ${{ secrets.PACT_BROKER_USERNAME }}
          PACT_BROKER_PASSWORD: ${{ secrets.PACT_BROKER_PASSWORD }}